.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.site-container {

}

.flex {
	display: flex;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}
